[Desktop Entry]
Version=1.0
Name=ThinDict
Name[zh_CN]=ThinDict
GenericName=Dict Program
GenericName[zh_CN]=词典程序
Comment=A lite dict program
Comment[zh_CN]=Linux下简易的英汉词典
TryExec=thindict
Exec=thindict
Icon=thindict
Terminal=false
Type=Application
Categories=Education;Qt;
