Source: ldict
Section: education
Priority: extra
Maintainer: xiangxw <xiangxw5689@126.com>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev, libqtwebkit-dev
Standards-Version: 3.9.4
Homepage: https://github.com/xiangxw/ldict

Package: ldict
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LDict，Linux下简易的英汉词典
 LDict是Linux下简易的英汉词典，使用Qt编写。
