[Desktop Entry]
Version=1.0
Name=LDict
GenericName=Dict Program
X-GNOME-FullName=LDict Dict Program
Comment=A simple dict program
TryExec=ldict
Exec=ldict
Icon=ldict
Terminal=false
Type=Application
Categories=Education;Qt;
